# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Uploaded files
uploads/

# Environment secrets
.env

# Model files (TOO LARGE)
*.keras
*.h5
*.pkl
model/

# Node modules (NEVER PUSH)
node_modules/

# Cache
.DS_Store
*.log

